# Archivos del sistema
.DS_Store
Thumbs.db
.env

# Configuración local
.env
config/*.php

# Archivos temporales y de caché
*.log
*.tmp
.cache/
session/
pruebas/

# Dependencias o librerías externas
/vendor/
node_modules/

# Archivos de IDE
.idea/
.vscode/

# Archivos del sistema operativo
*.swp
*.bak

# Archivos de respaldo o exportación
*.zip
*.tar
*.gz

# Datos sensibles o personales
token.txt
/private/
/app/config/token.txt
/public/api/cache/
/vendor/
.env
.env.local
.env.*.local
tira.js
inmovilla.php
placeholedr.jpg
indexPrueba.php
estilosPrueba.css

inmobiliaria.code-workspace

# Ignorar subidas de usuarios (Imágenes reales)
public/uploads/
/public/uploads/*

# Ignorar archivos de sistema y entorno
.env
.DS_Store
Thumbs.db
node_modules/
vendor/

# Logs de Auditoría
logs/*.log