# 1. SEGURIDAD: Bloquear acceso a archivos ocultos (inicia con punto)
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# 2. EXCEPCIÓN: Permitir validación de SSL
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^\.well-known/ - [L,NC]
</IfModule>

# 3. ENRUTAMIENTO
<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /

    # Si el archivo/carpeta existe físicamente (css, js, imagenes), sírvelo
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Si no existe, manda TODO a index.php (Permitiendo barras /)
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>